{% extends 'base/base.html' %}

{% block title %}

Lista de Consultas

{% endblock %}

{% block content %}

{% if object_list %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Paciente</td>
			<td>Fecha de Consulta</td>
			<td>Hora de Consulta</td>
			<td>Medico Asignado</td>
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
	{% if object_list %}
	{% for consulta in object_list %}
		<tr>
			<td>{{ consulta.id }}</td>
			<td>{{ consulta.paciente.nombres }} {{ consulta.paciente.apellidos }}</td>
			<td>{{ consulta.fecha_consulta }}</td>
			<td>{{ consulta.hora_consulta }}</td>
			<td>{{ consulta.medico_asignado.nombre }} {{ consulta.medico_asignado.apellido }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'consulta:consulta_editar' consulta.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'consulta:consulta_eliminar' consulta.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
{% else %}
	<h1>No hay registros de Consultas</h1>
		
{% endif %}
	</tbody>
{% endif %}
</table>

{% endblock %}