{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  {% block extrastatic %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/bootstrap.min3.css' %}">
  <title>{% block title %} Ambulatorio Karin {% endblock %} </title>
</head>
<body>
<div class="container">

  {% block navbar %}
    <div class="bs-docs-section clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                  <nav class="navbar navbar-default">
                      <div class="container-fluid">
                          <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'paciente:index_paciente' %}">Home</a>
                          </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav">
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Pacientes <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="{% url 'paciente:paciente_registrar' %}">Registrar</a></li>
                                  <li><a href="{% url 'paciente:paciente_listar' %}">Listar</a></li>
                                </ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Médicos<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{% url 'medico:medico_registrar' %}">Registrar</a></li>
                                    <li><a href="{% url 'medico:medico_listar' %}">Listar </a></li>
                                </ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Áreas<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="{% url 'paciente:area_registrar' %}">Registrar</a></li>
                                  <li><a href="{% url 'paciente:area_listar' %}">Listar</a></li>
                                </ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Medicamentos <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="{% url 'medicamento:medicamento_registrar' %}">Registrar</a></li>
                                  <li><a href="{% url 'medicamento:medicamento_listar' %}">Listar</a></li>
                                </ul>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Consultas <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="{% url 'consulta:consulta_registrar' %}">Registrar</a></li>
                                  <li><a href="{% url 'consulta:consulta_listar' %}">Listar</a></li>
                                </ul>
                              </li>
                          </ul>
                          <ul class="nav navbar-nav navbar-right">
                              <li class="dropdown"><a href="http://www.google.co.ve" onclick="pageTracker._link(this.href); return false;">Ambulatorio Karin</a>
                              </li>
                              <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Opciones<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{#}">Salir</a></li>
                                </ul>
                              </li>
                          </ul>
                        </div>
                    </div>
                </nav>
            </div>
            </div>
        </div>
    </div>    

  {% endblock %}


   {% block content %}
   <h5>Este es el bloque content base</h5>
   {% endblock %}

   {% block footer %}
   {% endblock %}

</div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>

  {% block extrajs %}
  {% endblock %}		
	
</body>
</html>