{% extends 'base/base.html' %}

{% block title %}

Lista de Médicos

{% endblock %}

{% block content %}

{% if object_list %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Apellido</td>
			<td>Cedula</td>
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for medico in object_list %}
		<tr>
			<td>{{ medico.id }}</td>
			<td>{{ medico.nombre }}</td>
			<td>{{ medico.apellido }}</td>
			<td>{{ medico.cedula }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'medico:medico_editar' medico.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'medico:medico_eliminar' medico.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de Médicos</h1>
		
		{% endif %}
	</tbody>
{% endif %}
</table>

{% endblock %}