{% extends 'base/base.html' %}

{% block title %}

Lista de Áreas

{% endblock %}

{% block content %}

{% if object_list %}
<table class="table table-bordered">
	<thead>
		<tr>
			<td>#</td>
			<td>Nombre</td>
			<td>Ubicación</td>
			<td>Jefe</td>
			<td>Opciones</td>
		</tr>
	</thead>
	<tbody>
		{% if object_list %}
		{% for area in object_list %}
		<tr>
			<td>{{ area.id }}</td>
			<td>{{ area.nombre }}</td>
			<td>{{ area.ubicacion }}</td>
			<td>{{ area.jefe }}</td>
			<td>
				<a class="btn btn-primary" href="{% url 'paciente:area_editar' area.id %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'paciente:area_eliminar' area.id %}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de areas</h1>
		
		{% endif %}
	</tbody>
{% endif %}
</table>

{% endblock %}